
html{
    background-color: #fff;
}


body{
    font-family: Roboto, sans-serif;
    margin: 0;
}


#grid-container{
display: grid;
grid-template-areas: "header"
                    "main"
                    "footer";
grid-template-rows: auto 1fr auto;

}

header{
    grid-area: header;
}

main{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color:#252525;
}


.video{
    display:block;
}


/*Kode for å endre style på button er hentet fra tidligere arbeid, ref. oblig 3*/
.button1{
    display: inline-block;
    background-color: #e6bd43;
    border: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 30px auto;
    width: 210px;
    height: 50px;
    max-width: 100%;
    text-decoration: none;
    color: black;
    display: inline-block;
}


header nav ul{
    gap: 1rem;
    list-style: none;
    display: block;
    text-align: center;
    padding-left: 0px;
}


nav span img{
    width: 80px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

nav ul li{
    padding-bottom: 10px;
}

ul li a{
    text-decoration: none;
    color: black;
}

nav ul li .contact-link{
    background-color: #e6bd43;
    border: none;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: inline-block;

}

/*a.active koden er hentet fra https://www.w3schools.com/css/css_link.asp*/
ul li a.active{
    text-decoration: underline;
    text-decoration-color:#e6bd43;
    font-weight: bold;
    text-decoration-thickness: 2px;

}

.bilde-index{
    width: 100%;
    height: 520px;
    object-fit: cover;
    opacity: 0.5;
}

.overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    width: 100%;
    height: auto;
    object-fit: cover;
    text-align: center;
}

.overlay-text h1{
    font-size: 40px;
}

.overlay-text p{
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px;
}
.header-index {
    position: relative;
}


.index1 p{
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 100px;
}


.index1 h2{
    font-size: 28px;
    text-align: center;
    margin-top: 100px;
}


.index2{
    background-color:#e6bd43;
    padding: 40px;
}

.index2 img{
    width: 100%;
}


.index2 h2{
    font-size: 28px;
}


.index2 a{
    padding: 20px 20px;
    border: 3px solid #000;
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-weight: bold;
}



.index3{
    display:flex;
    font-weight: bold;
    
}

.index3 a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #000;
        font-size: 25px;
}


.index3 h3{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 35px;
}

.index3 p{
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.index3 ul{
    justify-content: center;
}

.newsletter{
    background-color: #dddddd;
    padding: 40px;
    text-align: center;
}

/*Følgende kode har jeg brukt Github CoPilot for å komme frem til*/
input[type="email"]{
    width: 50%;
    border-style: none;
    padding: 10px;
    color: #000;
}

input[type="email"]::placeholder{
    color: #000;
}

button[type="submit"] {
    padding: 10px;
    border-style: none;
    background-color:#e6bd43;
}
/*-------------------*/

.logoseksjon{
    background-color:#252525;
    padding: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0px;

}

.logoseksjon img{
    width: 80px;
}

/*Scroll-to-top funksjon er hentet fra www.w3schools.com, kilde er i HTML-kode og dokumentasjon*/
#top{
    position: fixed;
    bottom: 156px;
    right: 26px;
    z-index: auto;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    padding: 12px;
    font-size: 22px;
}

footer p{
    text-align: center;
    font-size: 15px;
    color: #FFF;
}


footer nav ul{
    list-style: none;
    font-size: 30px;
    margin: 0px;
    justify-content: space-around;
    display: flex;
    padding-left: 0px;
}




/*portfolio-siden*/

#bilde-port{
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.5;
}


#overlay-text-port h1{
    font-size: 40px;
    margin-top: 160px;
}

.port-buttons{
    padding: 10px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin: 8px;
    font-weight: bold;
    display:inline-block;
}

section ul{
    display:flex;
    flex-wrap: wrap;
    list-style:none;
    padding: 0px;
}

#port1 h2{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
}

.portfolio-seksjon{
    padding: 32px;
}
.underline{
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 10px;
    margin: 35px;
    font-size: 30px
}

section h3{
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 25px;
}

.portfolio-seksjon img{
    width: 100%;
}



/*About-siden*/

#bilde-about{
    width: 100%;
    height: 824px;
    object-fit: cover;
    position: relative;
}

#overlay-box{
    background-color: rgba(255, 255, 255, 0.8);
    color:#000;
    padding: 34px;
    width: 47%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#overlay-overskrift{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
}

#overlay-about{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}


#contact-button{
    background-color: #e6bd43;
    padding: 9px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    width: 210px;
    height: 50px;
    max-width: 100%;
}

#clients{
    background-color:#e6bd43;
    text-align: center;
}

#clients h3{
    margin-top: 40px;
    margin-bottom: 20px;
}

#clients img{
    margin: 20px;
    width: 130px;
}


#skjema h3{
    text-align: center;
}

#skjema p{
    font-size: 20px;
    font-weight: bold;
}
form label {
    display: block;
    margin-top: 20px;
}

form input[type="text"], form textarea {
    width: 90%;
    border-style: none;
    padding: 17px;
    color: #000;
}

form input[type="submit"] {
    padding: 10px;
    border-style: none;
    background-color:#e6bd43;
    font-weight: bold;
    margin-top: 10px;
}

form textarea{
    height: 125px;
}

#contact-information h4{
    font-size: 20px;
    margin-top: 60px;
}
#contact-information h3{
    margin-bottom: 13px;
    margin-top: 0px;
}

#contact-information ul{
    flex-direction: column;
}

#contac-information ul li{
    margin-bottom: 10px;
}

.video{
    display: none;
}

.full-width-iframe{
    width: 100%;
}

#contact-information ul li{
    margin-top: 20px;
} 

.icon{
    margin-right: 10px;
    font-size: 20px;
}

#overlay-box-about{
    background-color: rgba(255, 255, 255, 0.8);
    color:#000;
    padding: 34px;
    width: 47%;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#contact-skjema{
    background-color: #f7f7f7;
    padding: 20px;
}

#contact-skjema h3{
    text-align: center;
}


@media screen and (min-width: 600px) {

    /*Grid for desktop, 3 kolonner, har sett på oblig3-oppgaven min for å huske hvordan det skal skrives*/
#grid-container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                            "main main main"
                            "footer footer footer";
    }


.video{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    opacity: 0.5;
    position: relative;
}


.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bilde-index{
    display: none;
}

/*Hover-effekt kode har jeg funnet på https://www.w3schools.com/css/css3_buttons.asp*/
.hover-black:hover{
    background-color: #252525;
    color: #e6bd43;
}

.hover-yellow:hover{
    background-color:#e6bd43;
    color:#252525;
}

header nav ul{
    display: flex;
    padding-left: 30px;
    align-items: baseline;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 21px;
}

nav span img{
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 120px;
    
}


.contact-link:hover{
    background-color: #252525;
    color: #e6bd43;
    
}


.index2{
    display: flex;
}

.index2 h2{
    margin-top: 100px;
}


.index2 img{
    width: auto;
    margin: 49px;
    display:flex;
    margin-left: 80px;
}

.portfolio-seksjon{
    display: flex;
    padding: 32px;
    flex-wrap: wrap;
}

.index3{
    flex-direction: row;
    justify-content: center;
}


img .portfolio-seksjon{
    width: 692px;
}
/*Følgende kode er hentet fra https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow (Gjelder 
flex-grow-delen)
For å få artikkelkortene til å øke i størrelse når jeg hovrer over har jeg brukt: 
https://nestedsoftware.com/2019/11/05/card-with-expand-on-hover-effect-2ccm.200941.html*/ 
.portfolio-seksjon article{
    flex-grow: 1;
    margin: 10px;
    max-width: 692px;
    transition: transform 0.90s ease-in-out;
}

.portfolio-seksjon article:hover{
    transform: scale(1.05);
}
.index3 article ul{
    display: flex;
    flex-direction: row;

}

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 231px;
}

footer nav ul li{
    margin-right: 20px;
}

footer p{
    font-size: 20px;
}

footer nav ul{
    font-size: 46px;
}

/*Følgende kode har jeg brukt Github CoPilot for å komme frem til*/
input[type="email"]{
    width: 16%;
    border-style: none;
    padding: 20px;
    color: #000;
}

button[type="submit"] {
    padding: 18px;
    font-weight: bold;
    font-size: 15px;

}

.newsletter h4{
    font-size: 30px;
    margin-bottom: 20px;
}

#bilde-about{
    height: 500px;
}

#overlay-box-about{
    top: 55%;
    left: 70%;
}

#contact-information h4{
    margin-top: 20px;
}


#skjema{
    padding-left: 118px;
    width: 45%;
    margin: 0px;
}

#contact-information ul li{
    margin-bottom: 20px;
}


/*Følgende kode har jeg brukt Github CoPilot for å komme frem til*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#skjema, #contact-information{
    width: 80%;
}
/*-------------------*/

#contact-skjema h3{
    font-size: 35px;
}

#design-bilde{
    width: 665px;
}
}